fastapi
uvicorn
pandas
prophet
python-multipart
scikit-learn
numpy

# Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Rate Limiting
slowapi

# Configuration
python-dotenv
sqlalchemy
psycopg[binary]
openai

# Document parsing
PyPDF2
python-docx
requests

# Testing
flake8
pytest
httpx
